<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', title='Mitgliedschaften verwalten', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Mitgliedschaften bearbeiten</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet" th:href="@{/css/mystyle.css}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li class="active"><a th:href="@{/gruppen1/memberships/{id}(id=${groupId})}">Gruppenmitgliedschaften bearbeiten</a></li>
            <li><a th:href="@{/gruppen1/admin/{id}(id=${groupId})}">Meine aktuelle Gruppenübersicht</a></li>
            <li><a th:href="@{/gruppen1/}">Meinen Gruppen</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <thead class="thead-light">
                        <th class="h5">User</th>
                        <th class="h5">Rolle</th>
                        <th class="h5">Status</th>
                        <th class="h5">Aktive Mitglieder verwalten</th>
                    </thead>
                </tr>
                <tbody th:remove="all-but-first">
                <tr th:each="member:${members}">
                    <td th:text="${member.user.username.username}"class="h6">Student1</td>
                    <td th:text="${member.membershipType}" class=" h6">Viewer</td>
                    <td th:text="${member.membershipStatus}" class="h6">Aktiv</td>
                    <td class="btn-group-lg offset-1" role="group">
                        <span th:if="${T(mops.gruppen1.domain.MembershipStatus).ACTIVE}">

                            <button type="button" class="btn btn-success rounded-bottom" title="Rolle ändern"
                                    data-toggle="collapse" data-target="#collapseRolechange" aria-expanded="false"
                                    aria-controls="collapseRolechange"
                                    name="action" value="change">
                                <span class="fa fa-pencil small fa-xs"></span>
                            </button>
                            <button type="button" class="btn btn-danger offset-1 rounded-bottom" title="Mitglied löschen"
                                    data-toggle="collapse" data-target="#collapseDeleteUser" aria-expanded="false"
                                    aria-controls="collapseDeleteUser" value="delete"
                                    name="action">
                                <span class="fa fa-trash fa-xs"></span>
                            </button>
                        </span>
                        <div class="collapse" id="collapseRolechange" th:method="get">
                            <div class="card card-body border-0">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Rolle ändern</h4>
                                                <p class="card-text">Hiermit änderst du die Rolle des
                                                Mitglieds.</p>
                                                <form method="post" th:action="@{/gruppen1/memberships/{id}(id=${groupId})}">
                                                    <input type="hidden" th:value="change" th:name="action"/>
                                                    <button class="btn btn-success" type="submit"
                                                            th:value="${member.user.username.username}"
                                                            th:name="username">Ändern
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapseDeleteUser" th:method="get">
                            <div class="card card-body border-0">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Mitglied löschen</h4>
                                                <p class="card-text">Hiermit entfernst du das Mitglied aus
                                                der Gruppe.</p>
                                                <form method="post" th:action="@{/gruppen1/memberships/{id}(id=${groupId})}">
                                                    <input type="hidden" th:value="delete" th:name="action"/>
                                                    <button class="btn btn-danger" type="submit"
                                                            th:value="${member.user.username.username}"
                                                            th:name="username">Löschen
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class=" h6">Student 2</td>
                    <td class=" h6">Admin</td>
                    <td class=" h6">Aktiv</td>
                    <td class="btn-group-lg offset-1" role="group">
                        <button type="button" class="btn btn-success rounded-bottom">
                            <span class="fa fa-pencil small fa-xs"></span>
                        </button>
                        <button type="button" class="btn btn-danger offset-1 rounded-bottom ">
                            <span class="fa fa-trash fa-xs"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class=" h6">Student 3</td>
                    <td class=" h6">Viewer</td>
                    <td class=" h6">Inaktiv</td>
                    <td class="btn-group-lg offset-1" role="group">
                        <button type="button" class="btn btn-success rounded-bottom">
                            <span class="fa fa-pencil small fa-xs"></span>
                        </button>
                        <button type="button" class="btn btn-danger offset-1 rounded-bottom ">
                            <span class="fa fa-trash fa-xs"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>