<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', title='Gruppe ansehen - Viewer', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Gruppenbildung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <link rel="stylesheet" th:href="@{/css/mystyle.css}">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">

    <p class="h2">Gruppe 1 </p>

    <div class="row">
        <div class="column">
            <div class="placing">
                <img th:src="@{/img/dylan-gillis-KdeqA3aTnBY-unsplash.jpg}">
                <a class="btn btn-light" href="/foren/mygroup" role="button">zum Gruppenforum</a>
            </div>
        </div>
        <div class="column">
            <div class="placing">
                <img th:src="@{/img/jamie-taylor--9C3TMXwQjQ-unsplash.jpg}">
                <a class="btn btn-light" href="/materialsammlung/mygroup" role="button">zum Gruppenmaterial</a>
            </div>
        </div>
        <div class="column">
            <div class="placing">
                <img th:src="@{/img/eric-rothermel-FoKO4DpXamQ-unsplash.jpg}">
                <a class="btn btn-light" href="/terminfindung/mygroup" role="button">zu den Gruppenterminen</a>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
                <button class="btn btn-outline-secondary col-3" type="button" data-toggle="collapse" data-target="#collapseMitglieder" aria-expanded="false" aria-controls="collapseMitglieder">
                    Mitglieder anzeigen
                </button>
            <a class="btn btn-outline-secondary col-3 offset-1" href="/gruppen1/groupRequests" role="button">offene Gruppenanfragen <span class="badge text-danger">10</span></a>
            <button class="btn btn-outline-secondary col-3 offset-1" type="button" data-toggle="collapse" data-target="#collapseBeschreibung" aria-expanded="false" aria-controls="collapseBeschreibung">
                Gruppenbeschreibung
            </button>
            <div class="collapse" id="collapseMitglieder">
                <div class="card card-body border-0">
                    <ul>
                        <li>Student 1</li>
                        <li>Studentin 2</li>
                    </ul>
                    <br>
                    <a class="btn btn-outline-secondary" href="/gruppen1/changeMemberships" role="button">Mitglieder verwalten</a>
                </div>
            </div>
            <div class="collapse" id="collapseBeschreibung" th:method="get">
                <div class="card card-body border-0">
                    Das ist eine Gruppenbeschreibung.
                    <br>
                    <br>
                    <a class="btn btn-outline-secondary" href="/gruppen1/description" th:type="submit">Beschreibung anpassen</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Gruppe verlassen</h4>
                    <p class="card-text">Hiermit wirst du die Gruppe verlassen und den Zugriff auf die
                        Gruppeninhalte verlieren.</p>
                    <button class="btn btn-danger" type="button">Verlassen</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Gruppe löschen</h4>
                    <p class="card-text">Hiermit wirst du diese Gruppe und sämtliche Inhalte der Gruppe
                    unwiderruflich löschen.</p>
                    <button class="btn btn-danger" type="button">Löschen</button>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>
</html>