<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Gruppenbildung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Gruppenbildung Übersicht</title>
    <th:block th:fragment="headcontent">

    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container-sm">
        <div class="flex-row">
            <p class="h3 offset-sm-0">Meine Gruppen <span>
                <a class="btn btn-secondary btn-sm"  aria-pressed="true" role="button"
                   th:href="@{/gruppen1/erstellen}">Gruppe erstellen</a>
                </span>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            <table class="table w-auto table-bordered">
                <thead class="thead-light">
                <tr>
                    <th style="width: 30%"  scope="col">Gruppenname</th>
                    <th style="width: 30%"  scope="col">Veranstaltung</th>
                    <th style="width: 20%"  scope="col">Zugriff</th>
                    <th style="width: 20%"  scope="col">Rolle</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">

                <tr th:each="membership:${memberships}">
                    <td class="w-30">
                        <div th:switch="${membership.membershipType}">
                            <span th:case="${T(mops.gruppen1.domain.MembershipType).ADMIN}">
                               <a th:href="@{/gruppen1/admin/{id}(id=${membership.group.groupId})}" th:text="${membership.group.name}"></a>
                            </span>
                            <span th:case="${T(mops.gruppen1.domain.MembershipType).VIEWER}">
                                <a th:href="@{/gruppen1/viewer/{id}(id=${membership.group.groupId})}" th:text="${membership.group.name}"></a>
                            </span>
                        </div>
                    </td>
                    <td class="w-30" th:text="${membership.group.module?.modulename.getModuleName}">Keine Veranstaltung</td>
                    <td class="w-20" th:text="${membership.group.groupType}"></td>
                    <td class="w-20" th:text="${membership.membershipType}"></td>
                </tr>
                <tr>
                    <td><a href="/gruppen1/viewer">Gruppe 2</a></td>
                    <td>Mathe</td>
                    <td>Public</td>
                    <td>Viewer</td>
                </tr>
                <tr>
                    <td>Gruppe 3</td>
                    <td>-</td>
                    <td>Restricted</td>
                    <td>Membership Request open</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>
