<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Gruppensuche', title='Suche', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Gruppenbildung Übersicht</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet" th:href="@{/css/mystyle.css}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
        <ul>
            <li class="active"><a th:href="@{/gruppen1/searchResults}">Gruppensuche</a></li>
            <li><a th:href="@{/gruppen1/}">Meine Gruppen</a></li>
        </ul>

    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container">
        <div class="row">
            <table class="table table-bordered">
                <tr>
                    <div class="thead-light">
                        <th class="h5">Gruppenname</th>
                        <th class="h5">Veranstaltung</th>
                        <th class="h5">Gruppentyp</th>
                        <th class="h5">Beschreibung</th>
                        <th class="h5">Mitgliedsantrag</th>
                    </div>
                </tr>
                <tbody th:remove="all-but-first">
                <tr th:each="group:${matchedGroups}">
                    <td class="h6" th:text="${group.name.name}">Gruppe 1</td>
                    <td class="h6" th:text="${group.module.modulename.modulename}">Keine</td>
                    <td class="h6" th:text="${group.groupType}">Public</td>
                    <td class="h6" th:text="${group.description.description}">Gruppenbeschreibung I</td>
                    <td>

                        <div th:switch="${group.groupType}">
                            <span th:case="${T(mops.gruppen1.domain.GroupType).PUBLIC}">
                                    <form class="form" method="post" th:action="@{/gruppen1/searchResults}">
                                        <input type="hidden" th:value="assign" th:name="action"/>
                                        <button  class="btn btn-success rounded-bottom offset-2" type="submit"
                                             th:value="${group.groupId}" th:name="id">Beitreten
                                        </button>
                                    </form>
                            </span>
                            <span th:case="${T(mops.gruppen1.domain.GroupType).RESTRICTED}">
                                <a class="btn btn-outline-secondary  offset-2"
                                   th:href="@{/gruppen1/requestMessage/{id}(id=${group.groupId})}">
                                    Beantragen
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="h6">Gruppe 2</td>
                    <td class="h6">Info I</td>
                    <td class="h6">Restricted</td>
                    <td class="h6">Gruppenbeschreibung II</td>
                    <td>
                        <a class="btn btn-success rounded-bottom offset-2"
                           th:href="@{/gruppen1/requestMessage}" type="button">Beantragen
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>
